<%- include('top') %>
<script type="text/javascript">
	function tableAJAX(message){
		app.util.actionMessage(message);
	}

	$(document).ready(function(){
		$('form').attr('action', 'auth/invite/<%= invite.token %>').attr('evalAJAX', 'location.replace("/login");')

	});
</script>
<div class="row" style="display:none">
		<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					Add new user
					<div class="pull-right">
						<label class="glyphicon glyphicon-circle-arrow-down panel-toggle"></label>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<h3>
					Invited By: <b><%= invite.created_by %></b>, On <b><%= invite.created_on %></b>
				</h3>
				<div class="alert alert-warning actionMessage" style="display:none">
					<!-- Message after AJAX action is preformed -->
				</div>
				<%- include('user_form') %>

			</div>
		</div>
	</div>
</div>
<%- include('bottom') %>
