<%- include('top') %>
<script type="text/javascript">
	function tableAJAX(message){
		app.util.actionMessage(message);
	}

	$(document).ready(function(){
		$('form').attr('action', 'auth/invite/<%= invite.token %>/<%= invite.mail_token %>').attr('evalAJAX', 'location.replace("/login");')
		$('[name="mail"').val('<%= invite.mail %>').prop("disabled", true);
	});
</script>
<div class="row" style="display:none">
		<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				Add new user
			</div>
			<div class="card-body">
				<p>
					Invited By: <b><%= invite.created_by %></b>, <%= invite.created_on %>
				</p>
				<div class="alert alert-warning actionMessage" style="display:none">
					<!-- Message after AJAX action is preformed -->
				</div>
				<%- include('user_form') %>

			</div>
		</div>
	</div>
</div>
<%- include('bottom') %>
